/* custom properties */
:root {
  --main-text-color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Special+Elite&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid purple; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    to right,
    rgb(15, 32, 39),
    rgb(32, 58, 67),
    rgb(44, 83, 100)
  );
}
.app-wrap {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 15px 15px;
}
h1 {
  font-size: 2.4em;
  margin-bottom: 2px;
  color: #ccc;
  font-family: 'Special Elite', cursive;
}
p {
  font-size: 1.5em;
  margin-bottom: 8px;
  font-family: 'Caveat', cursive;
}
header input {
  width: 100%;
  max-width: 200px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: black;
  font-size: 20px;
  font-weight: 200;
  transition: 0.2s ease-out;
}
header input:focus {
  background-color: rgba(255, 255, 255, 1);
}

main {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 80px;
  margin: auto;
  background-color: black;
  opacity: 80%;
  border-radius: 20px;
}

.location .city {
  color: var(--main-text-color);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.current .temp {
  color: var(--main-text-color);
  font-size: 60px;
  font-weight: 900;
  margin: 10px 0px;
}
.current .temp span {
  font-weight: 500;
}
.current .weather-icon {
  margin: auto;
}
.current .weather {
  color: var(--main-text-color);
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-top: 10px;
}
